# Python cache
__pycache__/
*.py[cod]

# Python build artifacts
/build/
/dist/
*.egg-info/

# cache and temporary files
.cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# local environment files
.env
.envrc
.venv/
venv/
env/
.pypirc
.vscode/

# data and results
/data/
/ref/
/results/
/.pending-assets-*/

# other files
*.pt
*.mp4
*.log
